font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

:root {
  --primary-text-color:      #ffffff;
  --title-text-color:        rgba(0, 0, 0, 0.8);
  --accent-color:            #ff0000;
  --contact-list:            #212121;
  --contact-list .list:        rgba(117, 117, 117, 1);

  --site-nav: #212121;
  --info-links: #ffffff;
}



body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/*logo*/


.logo-web {
  color: #212121;
  font-size: 26px;
  line-height: 1, 19em;
  text-decoration: none;
  font-weight: bold;
}

.logo-studio {
  color: #2196f3;
  font-size: 26px;
  line-height: 1, 19em;
  font-weight: bold;
}


/*навигация*/

.site-nav .nav {
  color: var(--site-nav);
  font-size: 14px;
  line-height: 1, 1em;
  text-decoration: none;
}

.site-nav .nav:hover,
.site-nav .nav:focus {
  color: #2196f3;
}

.auth-nav .link {
  color: #757575;
  font-size: 14px;
  line-height: 1, 1em;
  text-decoration: none;
}

.auth-nav .link:hover, 
.auth-nav .link:focus {
  color: #2196f3;
}

/*studio*/

.hero {
  background-color: #2F303A;
}

.hero .title {
  color: #ffffff;
}


.btn {
  color: #ffffff;
  background-color: #2196F3;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

.btn:hover {
  background-color: #188CE8;
}

/*portfolio*/

/*первая секция*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-pages .page {
  color: #212121;
  font-size: 16px;
  line-height: 1, 625em;
  cursor: pointer;
}

.site-pages .page:hover,
.site-pages .page:hover {
  color: #ffffff;
  background-color: #2196f3;
}

/*вторая секция*/

.contact-list {
  color: var(--title);
  font-size: 18px;
  line-height: 2em;
}

.contact-list .list {
  color: var(--site-text);
  font-size: 16px;
  line-height: 1, 875em;
}

 .list {
  list-style: none;
}

.list .text {
  color: #757575;
}


/*footer*/

.info-links .link {
  color: #757575;
  background: #2F303A;
  font-size: 14px;
  line-height: 1, 1em;
  text-decoration: none;
}

.info-links .link:hover,
.info-links .link:focus {
  color: #2196f3;
}

 .footer {
    background-color: #2F303A;
  } 

.text-color {
  color: #ffffff;
  font-style: normal;
}

.logo-wb {
  color: #2196f3;
  font-size: 26px;
  line-height: 1, 19em;
  text-decoration: none;
  font-weight: roboto;
}

.logo-stud {
  color: #ffffff;
  font-size: 26px;
  font-weight: roboto;
{



  