font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

:root {
}

body {
  background-color: #ffffff;
}

.site-nav {
  color: #212121;
}

.site-nav .nav:hover,
.site-nav nav:focus {
  color: #2196f3;
}

.info-links .link {
  color: #212121;
}

.info-links .link:hover,
.info-links .link:focus {
  color: #2196f3;
}

.site-pages .page {
  color: #212121;
}

.site-pages .page:hover,
.site-pages .page:hover {
  color: #ffffff;
  background-color: #2196f3;
}
